SESSION_ID=

PORT=5000

PAIRING_NUMBER=

PREFIXES=.

PACKNAME=CHOCO-ITACHI-V2 🍫

BOT_NAME=CHOCO-ITACHI-V2 🍫😈

OWNER_NUMBER=224611257942

COMMAND_MODE=public

BOT_OWNER=CHOCO ITACHI

TIMEZONE=Africa/Conakry